
<h2>Choisissez 4 couleurs</h2><br>

<div class="container" >

<div (click)="bleu()" class="bleu"></div>    
<div (click)="rouge()" class="rouge"></div>
<div (click)="vert()" class="vert"></div>
<div (click)="jaune()" class="jaune"></div>
<div (click)="rose()" class="rose"></div>
<div (click)="noir()" class="noir"></div>
<div (click)="vertclair()" class="vertclair"></div>

</div>

<br>

<button (click)="set()">SET</button> <!-- Pour le ctrl-D ==> Intellij IDEA keybindings-->
<button (click)="reset()">RESET</button><br>

<h3>Nombre de couleurs choisies : {{compteurCouleurs}}</h3><br>

<h3>Couleur choisie : {{couleurChoisie}}</h3><br>

<div class="container" >

    <div class="bleu" *ngIf="boolBleu"></div>    
    <div class="rouge" *ngIf="boolRouge"></div>
    <div class="vert" *ngIf="boolVert"></div>
    <div class="jaune" *ngIf="boolJaune"></div>
    <div class="rose" *ngIf="boolRose"></div>
    <div class="noir" *ngIf="boolNoir"></div>
    <div class="vertclair" *ngIf="boolVertClair"></div>
    
    </div><br>

<h3 *ngIf="isAvailable">Le nombre de couleurs choisies est atteint !!!!</h3>




