
<h2>Choisissez 4 couleurs</h2><br>


<div (click)="bleu()" class="bleu"></div>    
<div (click)="rouge()" class="rouge"></div>
<div (click)="vert()" class="vert"></div>
<div (click)="jaune()" class="jaune"></div>
<div (click)="rose()" class="rose"></div>
<div (click)="noir()" class="noir"></div>
<div (click)="vertclair()" class="vertclair"></div>


<br>

<button (click)="set()">SET</button> <!-- Pour le ctrl-D ==> Intellij IDEA keybindings-->
<button (click)="reset()">RESET</button><br>

<h3>Nombre de couleurs choisies : {{compteurCouleurs}}</h3><br>

<h3>Couleurs choisies : {{couleurChoisie}}</h3><br>

<table>
    <tr>
        <td class="bleu" *ngIf="boolBleu"></td>    
        <td class="rouge" *ngIf="boolRouge"></td>
        <td class="vert" *ngIf="boolVert"></td>
        <td class="jaune" *ngIf="boolJaune"></td>
        <td class="rose" *ngIf="boolRose"></td>
        <td class="noir" *ngIf="boolNoir"></td>
        <td class="vertclair" *ngIf="boolVertClair"></td>
    </tr>
</table>
    

<h3 *ngIf="boolNombreCouleursChoisies">Le nombre de couleurs choisies est atteint !!!!</h3>




